@media (max-width: 10000.0px) {
  h1 {font-size: 65px;}
  h2 {font-size: 27px;}
  h3 {font-size: 23px;}
  h4 {font-size: 20px;}
  h5 {font-size: 14px;}
  body{font-size: 13px;}
}

@media (max-width: 1199.98px) {
  h1 {font-size: 50px;}
  h2 {font-size: 24px;}
  h3 {font-size: 20px;}
  h4 {font-size: 18px;}
  h5 {font-size: 13px;}
  body{font-size: 13px;}
}

@media (max-width: 767.98px) {
  h1 {font-size: 35px;}
  h2 {font-size: 16px;}
  h3 {font-size: 14px;}
  h4 {font-size: 13px;}
  h5 {font-size: 12px;}
  body{font-size: 10px;}
}

@media (max-width: 500.98px) {
  h1 {font-size: 28px;}
  h2 {font-size: 13px;}
  h3 {font-size: 14px;}
  h4 {font-size: 12px;}
  h5 {font-size: 12px;}
  body{font-size: 10px;}
}


body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgb(40, 40, 40);
}

h1 {
  padding-top: 3%;
}

h2 {
  font-style: italic;
}

h5 {
  font-style: italic;
  color: rgb(90, 90, 90);
}


#well {
  background-color: rgb(230, 230, 230);
  margin-top: 3.5%;
  border-style: solid;
  border-radius: 12px;
  border-color: white; 
  max-width: 1200px;
}

#img-well {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1034px;
  max-height: 675px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 3px;
  border-color: white; 
}

#main-image {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  padding-bottom: 8px;
}

#caption {
  text-align: center;
}

#main-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 680px;
  padding-bottom: 3%;
}

#quote {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
}

#footer-format {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-bottom: 0.5%;

}




/**
.container {
  background-color: silver;
  margin: 10%;
  padding: 10px 50px 50px 50px;
  border: solid;
  
}
*/